<h1><%= @menu_item.name %></h1>

<h2>Price: <%=number_to_currency(@menu_item.price, unit: "$") %></h2>

<%= button_to "Edit", edit_menu_item_path, method:"get" %><%= button_to "Delete", @menu_item, method: :delete %>

<%= button_to "Order Item", new_order_path, method:"get" %>

<%= button_to "View all Menu Items", menu_items_path, method: "get" %>

<p><%= link_to "Home", home_path %></p>
