<h1> <%= @customer.name %> </h1>

<h2> Gender: <%= @customer.gender %></h2>

<%= button_to "Edit", edit_customer_path, method: 'get' %>
<%= button_to "Delete", @customer , method: :delete %>
<br>
<%= button_to "View All Customers", customers_path, method: "get" %>